@font-face {
	font-family: roboto-thin;
	src: url(roboto/Roboto-Thin.ttf);
}

@font-face {
	font-family: roboto-regular;
	src: url(roboto/Roboto-Regular.ttf);
}

@font-face {
	font-family: roboto-medium;
	src: url(roboto/Roboto-Medium.ttf);
}

h1 {
	font-family: "roboto-thin";
}

h2 {
	font-family: "roboto-medium";
}

.link-buttons>a {
	margin: 1em;
	padding: .5em;
	margin-bottom: 5em;
	border-radius: 6px;
	color: white;
	font-weight: 600;
	background-color: rgb(89, 171, 238);
}

a:hover{
	box-shadow: 2px 2px 3px rgb(179, 176, 176);
	filter: brightness(105%)
}

#about {
	font-family: "roboto-regular";
}

.project-card {
width: 84vw;
}
